CarVoter/SampleData/CarData/CarData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.CarData" targetNamespace="Expression.Blend.SampleData.CarData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CarData" type="tns:CarData" />
  <xs:complexType name="CarData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute name="Image" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="2" name="KiloWatts" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="NumDownVotes" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="NumUpVotes" type="xs:double" />
    <xs:attribute blend:FormatParameters="15,8" name="Title" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>